<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Edit category</title>
</head>
<body>
<section layout:fragment="content">
    <div class="main-header">
        <h2 class="title">Edit category</h2>
    </div>

    <th:block th:if="${message}">
        <div th:text="${message}" class="alert alert-success" role="alert">
        </div>
    </th:block>

    <form th:object="${category}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{creator}">
        <div class="form-group">
            <label>Category Name</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Category Name</p>
            <input type="text" class="form-control" th:field="*{name}">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</section>
</body>
</html>