<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
<section layout:fragment="content">
    <div class="main-header row">
        <div class="col-md-6">
            <h2 class="title">List category</h2>
        </div>
        <div class="col-md-6 text-right">
            <a href="/categories/create" class="btn btn-primary">Create category</a>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Stt</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="category:${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td><a th:href="@{/categories/__${category.id}__/edit}">Edit</a></td>
            <td><a th:href="@{/categories/__${category.id}__/delete}">Delete</a></td>
        </tr>
    </table>
</section>